# ✅ src/bin 폴더와 ffmpeg, ffprobe 파일은 Git에 반드시 포함시킴
# 먼저 무시 규칙을 삭제하거나 예외로 전환
# src/bin 관련 무시 금지
!src/bin/
!src/bin/ffmpeg
!src/bin/ffprobe

# 일반 바이너리는 여전히 무시
*.exe
*.out
bin/
github-actions-sa-policy.json
google-cloud-sdk/
*.tar.gz

# 대용량 파일
venv/
.terraform/
*.a
binaries/
